@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    font-family: 'Poppins', sans-serif;
    transition: all 250ms;
}
header {
    position: fixed;
    height: 12vh;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    left: 3vh;
}

.toggle {
    position: absolute;
    top: vh;
    right: 1vh;
    width: 50px;
    height: 50px;
    background: url(https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50px;
    background-color: #ddd;
    transition: all 400ms;
}

.toggle.active {
    background: url(https://cdn4.iconfinder.com/data/icons/glyphs/24/icons_exit2-512.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    background-color: #ddd;
    cursor: pointer;
}

.showcase {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.showcase.active {
    right: 300px;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    mix-blend-mode: overlay;
}

.text {
    position: relative;
    top: 15vh;
    margin: 0 auto;
    z-index: 10;
    width: 100%;
}

.text h2 {
    font-size: 5em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 4em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.1em;
    color: #fff;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.button{
    display: block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
}

.button:hover {
    letter-spacing: 6px;
    text-decoration: none;
}


.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    position: relative;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
}

.menu ul li a:hover {
    color: #03a9f4;
}

@media (max-width: 991px) {

    .showcase,
    .showcase header {
        padding: 20px 40px;
    }

    .text h2 {
        font-size: 3em;
    }

    .text h3 {
        font-size: 2em;
    }
}

.right.carousel-control {
    background-color: transparent;
    color: #ffffff;
    border: 0px solid transparent;
    border-radius: 0%;
    box-shadow: none;
}

.left.carousel-control {
    background-color: transparent;
    color: #ffffff;
    border: 0px solid transparent;
    border-radius: 0%;
    box-shadow: 2px 2px 5px transparent;
}

.homes .number-animate,
.hours .number-animate {
  display: block;
}


.sayisal-alan{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.sayisal-alan p{
    width: 190px;
}
.instagram{
    display: flex;
    justify-content: center;
    align-items: center;
}
.instagram i {
    position: fixed;
    bottom: 2vh;
    left: 3vh;
    font-size: 3rem;
    color: #fff;
    padding: 15px;
    z-index: 999;
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 40px;
}
.instagram:hover{
    color: #ddd;
}